.tp-caption.Big-title-yellow, .Big-title-yellow {
color:#fcb41e;
color-transparency:1;
font-size:80px;
line-height:80px;
font-weight:400;
font-style:normal;
font-family:Vidaloka;
padding:0 0 0 0;
text-decoration:none;
text-align:left;
background-color:transparent;
background-transparency:1;
border-color:transparent;
border-transparency:1;
border-style:none;
border-width:0;
border-radius:0 0 0 0;
z:0;
skewx:0;
skewy:0;
scalex:1;
scaley:1;
opacity:1;
xrotate:0;
yrotate:0;
2d_rotation:0;
2d_origin_x:50;
2d_origin_y:50;
pers:600;
corner_left:nothing;
corner_right:nothing;
parallax:-;
letter-spacing:2px;
}

.tp-caption.Big-title, .Big-title {
color:#ffffff;
color-transparency:1;
font-size:80px;
line-height:80px;
font-weight:400;
font-style:normal;
font-family:Vidaloka;
padding:0 0 0 0;
text-decoration:none;
text-align:left;
background-color:transparent;
background-transparency:1;
border-color:transparent;
border-transparency:1;
border-style:none;
border-width:0;
border-radius:0 0 0 0;
z:0;
skewx:0;
skewy:0;
scalex:1;
scaley:1;
opacity:1;
xrotate:0;
yrotate:0;
2d_rotation:0;
2d_origin_x:50;
2d_origin_y:50;
pers:600;
corner_left:nothing;
corner_right:nothing;
parallax:-;
letter-spacing:2px;
}

.tp-caption.Fashion-BigDisplay, .Fashion-BigDisplay {
color:#ffffff;
color-transparency:1;
font-size:15px;
line-height:26px;
font-weight:400;
font-style:normal;
font-family:Open Sans;
padding:0 0 0 0;
text-decoration:none;
text-align:center;
background-color:transparent;
background-transparency:1;
border-color:transparent;
border-transparency:1;
border-style:none;
border-width:0;
border-radius:0 0 0 0;
z:0;
skewx:0;
skewy:0;
scalex:1;
scaley:1;
opacity:1;
xrotate:0;
yrotate:0;
2d_rotation:0;
2d_origin_x:50;
2d_origin_y:50;
pers:600;
corner_left:nothing;
corner_right:nothing;
parallax:-;
letter-spacing:2px;
}

.tp-caption.Button, .Button {
color:#000000;
color-transparency:1;
font-size:60px;
line-height:60px;
font-weight:900;
font-style:normal;
font-family:Raleway;
padding:0 0 0 0;
text-decoration:none;
text-align:center;
background-color:transparent;
background-transparency:1;
border-color:transparent;
border-transparency:1;
border-style:none;
border-width:0;
border-radius:0 0 0 0;
z:0;
skewx:0;
skewy:0;
scalex:1;
scaley:1;
opacity:1;
xrotate:0;
yrotate:0;
2d_rotation:0;
2d_origin_x:50;
2d_origin_y:50;
pers:600;
corner_left:nothing;
corner_right:nothing;
parallax:-;
letter-spacing:2px;
}

